environments:
  default:
    values:
      - platform:
          region: us-east-2
          default_ingress_domain: example.com
          default_alb_ingress_group: default
  preview:
  staging:
  production:


repositories:
  # Cloud Posse incubator repo of helm charts
  - name: "cloudposse-incubator"
    url: "https://charts.cloudposse.com/incubator/"

releases:
  #
  # References:
  #   - https://github.com/cloudposse/charts/blob/master/incubator/monochart
  #
  - name: 'example-app'
    labels:
      color: "{{ requiredEnv "COLOR" }}"
      preview: "true"
    chart: "cloudposse-incubator/monochart"
    version: "0.22.0"
    wait: true
    force: true
    recreatePods: false
    values:
      - fullnameOverride: "example-{{ requiredEnv "COLOR" }}"
        image:
          repository: '{{ env "IMAGE_NAME" | default "cloudposse/example-app" }}'
          tag: '{{ env "IMAGE_TAG" | default "0.1.0" }}'
          pullPolicy: Always
          #pullSecrets:
          #  - "example-app-pull-secret-dockercfg "
        replicaCount: 5
        # Deployment configuration
        deployment:
          enabled: true
          strategy:
            type: "RollingUpdate"
            rollingUpdate:
              maxUnavailable: 2
          revisionHistoryLimit: 10

        # Configuration Settings
        configMaps:
          default:
            enabled: true
            env:
              # Color to deploy
              #COLOR: "#0099ff" # Blue
              #COLOR: "#009900"  # Green
              COLOR: "{{ env "COLOR" }}"

        # Service endpoint
        service:
          enabled: true
          type: ClusterIP
          ports:
            default:
              internal: 8080
              external: 80

        ingress:
          default:
            enabled: true
            port: default
            annotations:
              external-dns.alpha.kubernetes.io/target: {{ .Values.platform.default_ingress_domain }}
              alb.ingress.kubernetes.io/group.name: {{ .Values.platform.default_alb_ingress_group }}
              external-dns.alpha.kubernetes.io/hostname: example-workflow.{{ .Values.platform.default_ingress_domain }}
              kubernetes.io/ingress.class: alb
              alb.ingress.kubernetes.io/scheme: internet-facing
              alb.ingress.kubernetes.io/actions.ssl-redirect: '{"RedirectConfig":{"Port":"443","Protocol":"HTTPS","StatusCode":"HTTP_301"},"Type":"redirect"}'
              alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
              alb.ingress.kubernetes.io/ssl-redirect: "443"
              alb.ingress.kubernetes.io/target-type: ip
              outputs.platform.cloudposse.com/webapp-url: "https://example-workflow.{{ .Values.platform.default_ingress_domain }}"
            hosts:
              "example-workflow.{{ .Values.platform.default_ingress_domain }}": /

        probes:
          # Probe that ensures service is healthy
          livenessProbe:
            httpGet:
              path: /healthz
              port: default
              scheme: HTTP
            periodSeconds: 3
            initialDelaySeconds: 3
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 2

          # Probe that ensures service has started
          readinessProbe:
            httpGet:
              path: /healthz
              port: default
              scheme: HTTP
            periodSeconds: 3
            initialDelaySeconds: 3
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 2

        resources:
          requests:
            memory: 10Mi
            cpu: 100m
          limits:
            memory: 10Mi
            cpu: 100m
