# Ordered list of releases.
environments:
  default:
  preview:
  staging:
  production:

helmfiles:
#  - "releases/pull-secret.yaml"
  - path: "./releases/app.yaml"
    values:
      -
{{ .Values | toYaml | indent 8 }}
